.breadcrumb {
  padding: 0;
  margin: 0;
  padding-bottom: 0.8em;
}

.breadcrumb ol {
  padding: 0;
}

.breadcrumb li {
  display: inline;
  font-size: 0.8em;
}

.breadcrumb li:not(:last-child)::after {
  content: ">";
}