.prevnextlink {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
}

.prevlink {
    display: flex;
    align-items: center;
    justify-content: left;
    min-width: 50%;
    padding-right: 10px;
}

.prevlink a {
    margin-left: 10px;
}

.prevlink li {
    list-style: none;
}

.nextlink {
    display: flex;
    align-items: center;
    justify-content: right;
    min-width: 50%;
    padding-left: 10px;
}

.nextlink a {
    margin-right: 10px;
}

.nextlink li {
    list-style: none;
}